<div class="page__newsletter">
    <h4 class="page__newsletter-title">STAY UP TO DATE BY SUBSCRIBING TO THE NEWSLETTER!</h4>

    <div clas="page__newsletter-form">
        <form
    action="https://buttondown.email/api/emails/embed-subscribe/sightlessfun"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/sightlessfun', 'popupwindow')"
    >
    <label for="bd-email">Enter your email</label>
    <input type="email" name="email" id="bd-email" placeholder="name@example.com">
    <input type="hidden" value="1" name="embed"/>
    <input class="btn btn--primary btn--large" type="submit" value="Subscribe" />
    </form>
    </div>
</div>